nav{
    display: flex;
    flex-basis: 270px;
    flex-wrap: wrap;
    flex-direction: column;
    }

a {
    font-family:'Dosis';
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    background-color: rgb(49, 49, 175);
    margin-bottom:2px;
    color: white;
    }

a:hover {
    box-shadow: 0 3px 7px -3px black;
    }